:root{
    --azul: #28527a;
    --rosa: #ff75a0;
    --negro: #000;
    --blanco:#fff;
    --fuentePrincipal: 'Montserrat Alternates', sans-serif;
}
body{
    font-size: 1.6rem;
}

h2{
    text-align: center;
    font-size: 3rem;
    margin-bottom: 2rem;
}

.contacto-bg{
    background-image: url(https://wallpapercave.com/wp/wp1836700.jpg);
    height: 40rem;
    max-width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    border-radius: 2rem;
}

.formulario{
    border-radius: 1rem;
    background-color: var(--blanco);
    margin: -25rem auto 0 auto;
    width: 80%;
    padding: 5rem;
}

.campo{
    display: flex;
    flex-direction: column;
    margin-bottom: 2rem;
}
.campo_label{
    padding-bottom: 1rem;
}

textarea{
    height: 20rem;
}

.boton_formulario{
    color: var(--blanco);
    padding: .5rem;
    border-radius: 1rem;
    background-color: var(--azul);
    width: 10rem;
}

.boton_formulario:hover{
    cursor: pointer;
    color: var(--rosa);
}

.redes{
    display: flex;
    justify-content:space-evenly;
    margin-bottom: 3rem;
}

.icono-redes{
    align-items: center;
    border-radius: 5rem;
    box-shadow: 0 10px rgba(0, 0, 0, 0.2);
    padding: .5rem .7rem;
    cursor: pointer;
    transition: all 0.25s;
}

#whatsapp:hover{
    transform: translateY(-10px);
    box-shadow: 0 12px 0 rgb(96, 206, 65); 
  }

  #facebook:hover{
    transform: translateY(-10px);
    box-shadow: 0 12px 0 rgb(41, 110, 230); 
  }

  #instagram:hover{
    transform: translateY(-10px);
    box-shadow: 0 12px 0 rgb(228, 99, 230); 
  }